* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header h2 {
  padding: 2rem;
}
#logo {
  text-decoration: none;
  color: rgb(74, 68, 131);
  font-size: 2.4rem;
  letter-spacing: 5px;
}
.search-form {
  display: flex;
}
.search-input {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;
  border: 2px solid rgb(74, 68, 131);
}
.search-input:focus,
.submit-btn:focus {
  outline: none;
}
.submit-btn {
  background: rgb(74, 68, 131);
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.5rem 0;
}
.gallery-info a {
  color: gray;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 1rem 0;
  width: 90%;
  margin: auto;
  row-gap: 4rem;
  column-gap: 2rem;
}
.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more {
  padding: 1rem 3rem;
  background: rgb(74, 68, 131);
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
